<html>
    <script> var clienttoken = '<%= clientoken %>';
    var amount = '<%= amount %>';
     </script>
    <p>Your Generated Token: <script>document.write(clienttoken)</script> </p>
    <p>Payable Amount: <script>document.write(amount)</script></p>
<head>
  <meta charset="utf-8">
  <script src="https://js.braintreegateway.com/web/dropin/1.3.1/js/dropin.min.js"></script>
</head>
<body>
  <div id="dropin-container"></div>
  <button id="submit-button">Request Payment</button>
  <script src="client.js"></script>
</body>
</html>
